th
{
	background-color:#ff0000;
}
.col-3{max-width:15%;}
.col-6{max-width:70%;}
.divcol1{max-width:10%;}
.divcol3{max-width:100%;}
.cartcount
{
	font-size: 14px;
	color: #FFF;
	font-weight: bold; 
	margin-left: -29px; 
	width: 20px; 
	position: absolute; 
	margin-top: -12px;
    text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #0808ff;
	border: 2px solid #fff;
}
